{% extends 'base.html' %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}
<h1>Sobre mi</h1>
<p>¡Hola! Soy Daniela, una apasionada viajera que ha recorrido diversos rincones del mundo 🌍, buscando no solo lugares nuevos, sino también nuevas perspectivas y aprendizajes ✈️. Mis viajes han sido una mezcla de aventuras inesperadas, momentos de reflexión y, sobre todo, de descubrimiento.
    Desde que emprendí mi primer viaje a Roma, me di cuenta de lo inmenso que es el mundo y lo pequeñas que pueden parecer nuestras preocupaciones cuando nos sumergimos en nuevas culturas 🌏. He tenido la suerte de explorar Kyoto, una ciudad llena de templos antiguos y jardines serenos, y de perderme en las coloridas calles de Marrakech, donde los mercados nunca duermen 🏙️.

    En Islas Lofoten, un paraíso natural en Noruega, viví uno de mis momentos más memorables al admirar las auroras boreales danzando sobre el cielo nocturno 🌌. También, mientras recorría Vang Vien, Laos, me encontré con paisajes que parecen sacados de un sueño, con montañas de piedra caliza y ríos cristalinos que cortan el aire fresco de la jungla 🌳.
    
    Cada viaje me ha enseñado algo valioso. Aprendí a comunicarme con gestos y sonrisas en lugares donde no hablaba el idioma 😄, descubrí tradiciones que me hicieron cuestionar mi propia forma de ver el mundo 🧳, y viví momentos de conexión genuina con personas de todas partes 🤝.
    
    Este blog es el resultado de todos esos viajes y aprendizajes. Aquí comparto las historias, los consejos y las lecciones que he ido recogiendo por el camino, esperando que te inspiren a explorar tu propio mundo 🌟. Porque viajar no solo significa movernos de un lugar a otro, sino también crecer, abrir la mente y, sobre todo, crear recuerdos que duran para siempre 💫.</p>
{% endblock %}
